body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5c4422; /* Fondo marrón oscuro */
    color: #fff; /* Texto blanco */
}

header {
    background-color: #8B4513;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.product-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.product-item {
    text-align: center;
}

.product-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
}

/* Animación de entrada */
.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #bf7b1d; /* Color de botón marrón claro */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.back-button:hover {
    background-color: #8B4513; /* Cambia de color al pasar el ratón sobre el botón */
}
